@tailwind base;

@tailwind components;

body {
  user-select: none; /* don't allow text selecting */
  -webkit-tap-highlight-color: transparent; /* to avoid android selection flash */
  touch-action: manipulation; /* disable double-tap to zoom */
   -webkit-touch-callout: none; /* disable ios callout */
  @apply bg-black font-sans;
}

.video-overlay {
  background: linear-gradient(rgba(0,0,0,.9) 10%,rgba(0,0,0,.2) 30%, rgba(0,0,0,.2) 65%,rgba(0,0,0,.9) 80%);
  overflow: hidden;
}

.hide-player {
  z-index: -1;
  position: relative;
}

.popper {
  display: inline-block;
  position: absolute;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.popper[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-color: #fafafa transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"] {
  margin-top: 5px;
}
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fafafa transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #fafafa transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fafafa;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper.border-black[x-placement^="top"] .popper__arrow { border-top-color: theme('colors.black') }
.popper.border-black[x-placement^="bottom"] .popper__arrow { border-bottom-color: theme('colors.black') }
.popper.border-black[x-placement^="right"] .popper__arrow { border-right-color: theme('colors.black') }
.popper.border-black[x-placement^="left"] .popper__arrow { border-left-color: theme('colors.black') }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FD2806;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


.material-design-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.material-design-icon > .material-design-icon__svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: absolute;
}

.mdi-fix > .material-design-icon__svg {
  bottom: -0.05em;
}

.overflow-y-scroll {
  -webkit-overflow-scrolling: touch;
}

.bg-overlay-floating {
  background: rgba(0, 0, 0, .5);
}

.ease-linear{transition-timing-function:linear}
.ease-in{transition-timing-function:cubic-bezier(.4,0,1,1)}
.ease-out{transition-timing-function:cubic-bezier(0,0,.2,1)}
.ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}
.transition-fastest{transition-duration:75ms}
.transition-faster{transition-duration:.1s}
.transition-fast{transition-duration:.15s}
.transition-medium{transition-duration:.2s}
.transition-slow{transition-duration:.3s}
.transition-slower{transition-duration:.5s}
.transition-slowest{transition-duration:.7s}
.transition-all{transition-property:all}
.transition-opacity{transition-property:opacity}
.transition-transform{transition-property:transform}
.transition-border{transition-property:border}
.translate-x-full{transform:translateX(100%)}
.translate-x-0{transform:translateX(0)}
.scale-90{transform:scale(.9)}
.scale-100{transform:scale(1)}
.origin-top{transform-origin:top}
.origin-top-right{transform-origin:top right}
.origin-right{transform-origin:right}
.origin-bottom-right{transform-origin:bottom right}
.origin-bottom{transform-origin:bottom}
.origin-bottom-left{transform-origin:bottom left}
.origin-left{transform-origin:left}
.origin-top-left{transform-origin:top left}


.scrollbar-blue::-webkit-scrollbar {
    width:  4px;
    height: 4px;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded;
}

.scrollbar-blue::-webkit-scrollbar-track {
  @apply bg-transparent rounded;
}

.scrollbar-blue::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}

.scrollbar-blue::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, .1);
}


@tailwind utilities;
